In [1]:
import pandas as pd
df = pd.read_csv("datasets/image_1.csv", index_col=0)

In [2]:
df["clase"] = 0

In [3]:
x = [461,582,564,576,548,982,1392,1328,1618,
     1742,1381,1232,1285,1544,2071,
     2179,2096,2155,2840,2538,2854,2666,3568,
     4122,3904,4043,4063,3816,4110,4910,5139,5250]

In [4]:
y = [805,1136,1157,1351,1411,1865,184,357,495,
     671,858,1005,1031,1261,819,961,1285,
     1684,398,908,1545,2708,1085,675,1104,1150,1548,
     1831,2223,620,1272,1352]

In [5]:
len(x)

32

In [6]:
x_range = []
for i in x:
    x_range.append([i-25, i+25])

In [7]:
y_range = []
for i in y:
    y_range.append([i-25, i+25])

In [8]:
varroa = []
for i, p in df.iterrows():
    for ix, iy in zip(x_range, y_range): 
        if p.x >= ix[0] and p.x <= ix[1] and p.y >= iy[0] and p.y <= iy[1]:
            df.loc[i, "clase"] = 1
            print(i)
            varroa.append(i)

587
588
711
739
803
1357
1374
1386
1419
2293
2294
3677
3709
3710
3711
3896
3916
3929
6382
7093
7133
7140
7141
7171
7255
7305
7897
8709
8722
8798
8813
8819
8820
8971
9051

In [9]:
len(set(varroa))

35

In [10]:
df.describe()

,x,y,area,excentricidad,semieje_menor,semieje_mayor,azul,verde,rojo,clase
count,9683.000000,9683.000000,9.683000e+03,9683.000000,9683.000000,9683.000000,9683.000000,9683.000000,9683.000000,9683.000000
mean,2331.173500,2761.712176,5.422917e+02,0.428951,8.362950,32.819723,50.928948,88.829805,133.703501,0.003615
std,1160.535267,1551.116390,2.830142e+04,0.397784,35.561976,1060.003540,39.348560,38.754527,31.913832,0.060016
min,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000
25%,1374.000000,1432.500000,4.000000e+00,0.000000,0.000000,0.000000,4.000000,58.000000,113.000000,0.000000
50%,2500.000000,2846.000000,2.000000e+01,0.577350,3.162278,4.000000,60.000000,106.000000,149.000000,0.000000
75%,3481.000000,4028.000000,6.250000e+01,0.802318,7.866138,14.229372,89.000000,121.000000,159.000000,0.000000
max,3672.000000,5458.000000,2.778832e+06,1.000000,1948.802612,96078.265625,127.000000,164.000000,201.000000,1.000000

In [11]:
df[df.area > 60000]

,x,y,area,excentricidad,semieje_menor,semieje_mayor,azul,verde,rojo,clase
2344,2717,2730,2778832.0,0.931681,1948.802612,5364.516602,110,142,178,0
9637,171,5128,60301.5,0.783770,459.891876,740.504944,97,140,179,0

In [12]:
df = df.drop(2344)

In [13]:
df[df.clase == 1]

,x,y,area,excentricidad,semieje_menor,semieje_mayor,azul,verde,rojo,clase
587,2657,2713,0.0,0.000000,0.000000,0.000000,105,126,154,1
588,2657,2696,0.0,0.000000,0.000000,0.000000,88,117,148,1
711,2553,894,51.5,0.820373,6.704914,11.725389,0,36,96,1
739,2548,886,103.0,0.858775,9.182771,17.922760,9,67,132,1
803,2515,911,0.0,0.000000,0.000000,0.000000,88,107,140,1
1357,2120,1291,127.5,0.223511,22.868206,23.461756,33,65,101,1
1374,2100,1260,75.0,0.653281,9.769834,12.904018,0,30,104,1
1386,2092,829,16.0,0.000000,0.000000,0.000000,0,39,103,1
1419,2078,1297,31.5,0.895135,5.249252,11.775043,0,20,89,1
2293,1767,682,0.0,0.000000,0.000000,0.000000,77,114,148,1
2294,1767,667,0.0,0.000000,0.000000,0.000000,83,120,154,1
3677,3561,1109,2.0,0.000000,0.000000,0.000000,91,119,154,1
3709,3582,1082,360.0,0.678001,21.658060,29.464293,93,121,156,1
3710,3584,1080,2.0,0.000000,0.000000,0.000000,89,121,157,1
3711,3569,1080,0.0,0.000000,0.000000,0.000000,91,120,157,1
3896,3548,1067,4.0,0.707107,2.121320,3.000000,91,120,159,1
3916,3546,1093,4.0,0.707107,2.121320,3.000000,98,125,159,1
3929,3548,1076,20.0,0.713337,4.978962,7.104472,92,124,159,1
6382,1754,658,0.0,0.000000,0.000000,0.000000,89,122,155,1
7093,1404,867,16.0,0.000000,0.000000,0.000000,7,99,152,1
7133,1400,843,124.5,0.657278,12.376204,16.421728,0,84,149,1
7140,1394,869,29.5,0.915680,5.425556,13.499512,0,42,100,1
7141,1393,857,4.0,0.000000,0.000000,0.000000,0,63,118,1
7171,1386,169,0.0,0.000000,0.000000,0.000000,66,115,153,1
7255,1374,878,330.5,0.849923,16.429129,31.180307,0,17,55,1
7305,1359,848,318.5,0.869781,14.503567,29.392925,0,21,94,1
7897,1000,1844,28.0,0.000000,0.000000,0.000000,46,82,120,1
8709,573,1125,16.0,0.000000,0.000000,0.000000,0,58,128,1
8722,568,1364,16.0,0.000000,0.000000,0.000000,0,57,141,1
8798,540,1436,20.0,0.000000,0.000000,0.000000,0,46,132,1
8813,538,1427,43.5,0.715718,7.062337,10.112328,0,50,135,1
8819,544,1409,326.5,0.661969,18.108221,24.159382,0,39,131,1
8820,548,1409,2.0,0.000000,0.000000,0.000000,7,81,163,1
8971,480,796,53.5,0.632000,8.292494,10.700426,6,63,125,1
9051,450,791,12.0,0.000000,0.000000,0.000000,1,58,114,1

In [14]:
df.to_csv("datasets/image_1_with_target.csv")